
.blog1-page {
   max-width:1200px ; /* prevents content from being too wide on big screens */
   margin: 0 auto;
   width: 100%;
   background-color: #0d140e;
   color: #eee;
}
 

 /* Hero Section */

 .blog1-container {
  margin: 60px auto;
  padding: 40px;
  background-color: #0d140e;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(144, 236, 159, 0.25);
}

.blog1-header {
  text-align: left;
  margin-bottom: 60px;
  position: relative;
}

.blog1-header h1 {
  font-size: 48px;
  margin: 0;
  color: #ffffff;
}

.blog1-header p {
  color: #b5b5b5;
  font-size: 16px;
  width: 600px;
  margin-top: 15px;
}
.back{
display:inline-block;
margin-top:12px;
text-decoration:none;
color: #1db954;
}
.blog1-container a:hover{
  color: #d9ff00;;
}




