
.lasta-page{
  max-width: 1200px; /*  prevents content from being too wide on big screens */
  margin: 0 auto;
}
 /* Hero Section */
.lasta-header {
  /* lighter / more see-through */
  background-color: rgba(54, 82, 69, 0.2);
  background-size: cover;
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.guardian-section {
  margin-bottom: 30px;
  padding: 2px 25px;
  border-left: 2px solid #90EC9F;
  border-right: 2px solid #90EC9F;
  background-color: #141815; 
  border-radius: 10px;
}
.lasta-header h1 {
  font-family: "Oswald", Impact, sans-serif;
  font-size: 40px;
}

.content h5 {
  margin: 0 auto;
  font-style: italic;
}

.lasta-hero img{
 height:300px;
 width: 60%;
 background: #25332a;
 margin: 2rem auto;
 display: block;
 /*margin-top: 2rem;*/
 padding: 2px;
 border-radius: 8px;
 box-shadow: 0 0 10px rgba(199, 248, 208, 0.25);
}

.lasta-hero h1{
    text-align: center;
    color: rgb(0, 209, 125);
}

.artivive-link-container {
  text-align: center;
}

.container h2{
font-size:20px;
color:var(--muted); 
letter-spacing:1px;
text-transform:uppercase;
margin-bottom:8px;
color: #1db954;
}
 .lasta-page a:hover{
  color: #d9ff00;;
}


@media(min-width:900px){
.hero-video{ height:320px }
.title{ font-size:48px }
}



.project_file {
  display: inline-block;
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.project_file-btn:hover {
  opacity: 0.8;
}




/* ================= LASTA PAGE RESPONSIVE ================= */

/* Tablets */
@media (max-width: 1200px) {
  .lasta-page {
    width: 90%;
  }

  .lasta-header {
    padding: 30px 20px;
  }

  .lasta-header h1 {
    font-size: 32px;
  }

  .lasta-hero img {
    width: 80%;
    margin-left: 0;
    display: block;
    margin: 2rem auto;
  }
}

/* Phones */
@media (max-width: 768px) {
  .lasta-page {
    width: 95%;
  }

  .lasta-header {
    padding: 20px 15px;
  }

  .lasta-header h1 {
    font-size: 24px;
  }

  .content h5 {
    font-size: 0.9rem;
    padding: 0 1rem;
  }

  .lasta-hero img {
    width: 100%;
    margin: 1.5rem auto;
  }

  .lasta-hero h1 {
    font-size: 20px;
  }

}